.tirage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carteTirage {
    width: 300px;
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: #FFFFFF;
    border: 4px solid #FFE557;
    border-radius: 10px;
}

.btn-lancer, .btn-stop {
    box-shadow: 1px 1px 12px rgb(0, 0, 0);
    margin: 3%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 4.5%;
    font-size: 20px;
    font-weight: bold;
    width: 310px;
    height: 54px;
    border-radius: 10px;
}

.btn-lancer {
    background-color: yellow;
    border-color: yellow;
}

.btn-stop {
    background-color: #CB5252;
    border-color: #CB5252;
}

.image{
    margin: 5%;
    background-image: url(../../asset/fond-carte.jpg);
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 270px;
    height: 166px;
}

.info-principal{
    margin: 5% !important;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.niveau{
    font-size: 8px;
}

.description{
    margin: 10px;
}

.description-icon{
    margin-right: 25px;
}

.description-name{
    font-weight: bold;
}

.description-info{
    margin-top: 10px;
    font-size: 10px;
}